<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Public/Documents/Automation_restassured_5x/src/test/java/org/example/crud/Post"><classes><class name="org.example.crud.Post.BDDstylePost"><methods><include name="testBDDstylePostPositive"/></methods></class></classes></test></suite>